Repository joernio/joern, pull requests merged in 2023-07, with the labels that each got.

#2985 rubysrc2cpg: Clean-up undefStatement
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForStatementsCreator.scala
Labels: ruby

#3021 [joern-slice] Comprehensive Location Information
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/DataFlowSlicing.scala
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/UsageSlicing.scala
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/package.scala
  joern-cli/JOERN_SLICE.md
  joern-cli/src/main/scala/io/joern/joerncli/JoernSlice.scala
  joern-cli/src/test/scala/io/joern/joerncli/JoernSliceTests.scala
Labels: cli

#3004 [rubysrc2cpg] Type Decl AST Tests
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForStatementsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForTypesCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/TypeDeclAstCreationPassTest.scala
Labels: ruby, infrastructure

#3071 [rubysrc2cpg] `this` style field accesses handled
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForTypesCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/TypeDeclAstCreationPassTest.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/FunctionTests.scala
Labels: enhancement, ruby

#3075 [rubysrc2cpg] Unit Tests for Identifier Nodes
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/dataflow/DataFlowTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/IdentifierLocalTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/TypeDeclAstCreationPassTest.scala
Labels: ruby

#3076 [rubysrc2cpg] Add AST tests for basic operations
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/AssignCpgTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/AttributeCpgTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/BinOpCpgTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/BoolOpCpgTests.scala
Labels: ruby

#3078 [jimple2cpg] Consistent & Recursive JAR/WAR Unpacking
  .gitignore
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/Jimple2Cpg.scala
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/passes/AstCreationPass.scala
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/util/ProgramHandlingUtil.scala
  joern-cli/frontends/jimple2cpg/src/test/resources/unpacking/NestedHelloWorld.jar
  joern-cli/frontends/jimple2cpg/src/test/resources/unpacking/helloworld/Bar.class
  joern-cli/frontends/jimple2cpg/src/test/resources/unpacking/helloworld/Foo.class
  joern-cli/frontends/jimple2cpg/src/test/resources/unpacking/slippy.zip
  joern-cli/frontends/jimple2cpg/src/test/scala/io/joern/jimple2cpg/unpacking/JarUnpacking.scala
Labels: enhancement, jvm

#3088 [rubysrc2cpg] builtin functions and types
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstCreatorHelper.scala
Labels: enhancement, ruby

#3091 [rubysrc2cpg]: Move ImportResolverPass to PostProcessingPasses
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/RubySrc2Cpg.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/utils/PackageTable.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/RubyTypeRecoveryTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/testfixtures/RubyCode2CpgFixture.scala
Labels: ruby

#3097 [rubysrc2cpg] A Few Initial Type Recovery Tests
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/dataflow/DataFlowTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/RubyTypeRecoveryTests.scala
Labels: ruby

#3086 [rubysrc2cpg] Added dataflow tests for ruby
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/dataflow/DataFlowTests.scala
Labels: ruby

#3090 [rubysrc2cpg] Add AST tests for FormatString & Call node
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/CallCpgTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/FormatStringCpgTests.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/ast/UnaryOpCpgTests.scala
Labels: ruby

#3102 [rubysrc2cpg] Initial Field Access Unit Tests
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/FieldAccessTests.scala
Labels: ruby

#3069 [rubysrc2cpg] CFG Test Cases
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/passes/cfg/SimpleCfgCreationPassTest.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/testfixtures/RubyCode2CpgFixture.scala
Labels: ruby

#3170 [jimple2cpg] Do not unpack "jars in jars" by default
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/Jimple2Cpg.scala
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/Main.scala
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/util/ProgramHandlingUtil.scala
  joern-cli/frontends/jimple2cpg/src/test/scala/io/joern/jimple2cpg/unpacking/JarUnpackingTests.scala
Labels: jvm, performance

#3115 [joern-slice] Parallelism Config & Tests Refactor
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/DataFlowSlicing.scala
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/UsageSlicing.scala
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/package.scala
  joern-cli/frontends/jssrc2cpg/src/test/scala/io/joern/jssrc2cpg/slicing/JsSliceTests.scala
  joern-cli/frontends/jssrc2cpg/src/test/scala/io/joern/jssrc2cpg/slicing/TsSliceTests.scala
  joern-cli/src/main/scala/io/joern/joerncli/JoernSlice.scala
  joern-cli/src/test/resources/testcode/jssrc-slice-1/main.js
  joern-cli/src/test/resources/testcode/jssrc-slice-2/main.js
  joern-cli/src/test/resources/testcode/tssrc-slice/main.ts
Labels: enhancement, cli
