Repository joernio/joern, pull requests merged in 2024-04, with the labels that each got.

#4415 [C#] Pattern Matching for `IfExpr`
  joern-cli/frontends/csharpsrc2cpg/src/main/resources/application.conf
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/astcreation/AstCreatorHelper.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/astcreation/AstForStatementsCreator.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/parser/DotNetJsonAst.scala
  joern-cli/frontends/csharpsrc2cpg/src/test/scala/io/joern/csharpsrc2cpg/querying/ast/PatternMatchingTests.scala
Labels: c#

#4422 [c#] Handle `ElementAccessExpression`
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/parser/DotNetJsonAst.scala
  joern-cli/frontends/csharpsrc2cpg/src/test/scala/io/joern/csharpsrc2cpg/querying/ast/CollectionTests.scala
Labels: c#

#4427 [ruby] Fix Bug where Proc & Lambda Parameters Aren't Created
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForStatementsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/RubyIntermediateAst.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/ClassTests.scala
Labels: ruby

#4451 [php] Dependency Pass for Composer Files
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/Php2Cpg.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/parser/Domain.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/passes/DependencyPass.scala
  joern-cli/frontends/php2cpg/src/test/scala/io/joern/php2cpg/passes/PhpDependencyPassTests.scala
Labels: php

#4452 [php2cpg] Annotation Support
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/parser/Domain.scala
  joern-cli/frontends/php2cpg/src/test/scala/io/joern/php2cpg/querying/AnnotationTests.scala
Labels: php

#4460 [jimple] General Archive Detection
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/Jimple2Cpg.scala
  joern-cli/frontends/jimple2cpg/src/main/scala/io/joern/jimple2cpg/util/ProgramHandlingUtil.scala
Labels: jvm

#4461 [ruby] Call Consistency & Precedence
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/CallTests.scala
  joern-cli/frontends/x2cpg/src/main/scala/io/joern/x2cpg/passes/callgraph/DynamicCallLinker.scala
Labels: ruby

#4463 [slicing] Dataflow Slicing Concurrency Fix
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/DataFlowSlicing.scala
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/package.scala
Labels: cli

#4469 [ruby] Bug Fix `ANY` Method Full Name
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForExpressionsCreator.scala
Labels: ruby

#4472 Dependency Housekeeping: Removed `circe`, `jackson` & Organised Versions
  build.sbt
  console/build.sbt
  dataflowengineoss/build.sbt
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/slicing/package.scala
  joern-cli/build.sbt
  joern-cli/frontends/c2cpg/build.sbt
  joern-cli/frontends/csharpsrc2cpg/build.sbt
  joern-cli/frontends/ghidra2cpg/build.sbt
  joern-cli/frontends/gosrc2cpg/build.sbt
  joern-cli/frontends/gosrc2cpg/src/main/scala/io/joern/gosrc2cpg/model/GoMod.scala
  joern-cli/frontends/gosrc2cpg/src/main/scala/io/joern/gosrc2cpg/parser/GoAstJsonParser.scala
  joern-cli/frontends/javasrc2cpg/build.sbt
  joern-cli/frontends/jimple2cpg/build.sbt
  joern-cli/frontends/jssrc2cpg/build.sbt
  joern-cli/frontends/jssrc2cpg/src/main/scala/io/joern/jssrc2cpg/utils/PackageJsonParser.scala
  joern-cli/frontends/kotlin2cpg/build.sbt
  joern-cli/frontends/php2cpg/build.sbt
  joern-cli/frontends/pysrc2cpg/build.sbt
  joern-cli/frontends/rubysrc2cpg/build.sbt
  joern-cli/src/main/scala/io/joern/joerncli/JoernVectors.scala
  project/Versions.scala
  project/meta-build.sbt
  semanticcpg/build.sbt
Labels: consistency

#4477 [ruby] `RubyProgramSummary` types derive ReadWriter
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/datastructures/RubyProgramSummary.scala
Labels: ruby

#4489 [javasrc2cpg] Clear JavaParser caches after AST creation
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/JavaSrc2Cpg.scala
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/passes/AstCreationPass.scala
Labels: java, performance

#4484 [ruby] Implicit Require Handling
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/RubySrc2Cpg.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/passes/ImplicitRequirePass.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/passes/ImportsPass.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/ImportTests.scala
Labels: ruby

#4492 [C#] Fix: Built-in Type Stubs not Loaded When Packaged
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/datastructures/CSharpProgramSummary.scala
Labels: c#

#4481 [php] Download Dependencies & Composer Autoload Handling
  joern-cli/frontends/php2cpg/build.sbt
  joern-cli/frontends/php2cpg/src/main/resources/ClassParser.php
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/Main.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/Php2Cpg.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/parser/ClassParser.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/passes/AstCreationPass.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/passes/ComposerAutoloadPass.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/passes/DependencyPass.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/passes/DependencySymbolsPass.scala
  joern-cli/frontends/php2cpg/src/main/scala/io/joern/php2cpg/utils/DependencyDownloader.scala
  joern-cli/frontends/php2cpg/src/test/scala/io/joern/php2cpg/passes/PhpDownloadDependenciesTest.scala
  project/Versions.scala
Labels: php, type recovery

#4494 [dataflowengineoss] Passes/PassesNot Fix
  dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/language/package.scala
  semanticcpg/src/main/scala/io/shiftleft/semanticcpg/language/nodemethods/CfgNodeMethods.scala
  semanticcpg/src/main/scala/io/shiftleft/semanticcpg/language/types/expressions/generalizations/CfgNodeTraversal.scala
Labels: dataflow engine

#4497 [jimple] Upgrade Soot
  project/Versions.scala
Labels: jvm

#4502 [javasrc] `keepTypeArguments` Flag
  console/src/main/scala/io/joern/console/cpgcreation/JavaSrcCpgGenerator.scala
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/Main.scala
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/astcreation/AstCreator.scala
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/passes/AstCreationPass.scala
  joern-cli/frontends/javasrc2cpg/src/main/scala/io/joern/javasrc2cpg/typesolvers/TypeInfoCalculator.scala
  joern-cli/frontends/javasrc2cpg/src/test/scala/io/joern/javasrc2cpg/querying/VarDeclTests.scala
Labels: java

#4496 [csharp] Filter unused type stubs
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/CSharpSrc2Cpg.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/astcreation/AstSummaryVisitor.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/datastructures/CSharpProgramSummary.scala
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/utils/DependencyDownloader.scala
  joern-cli/frontends/csharpsrc2cpg/src/test/scala/io/joern/csharpsrc2cpg/querying/ast/CallTests.scala
Labels: c#

#4501 [ruby] Builtin type-stubs for `Ruby`
  .gitignore
  joern-cli/frontends/csharpsrc2cpg/src/main/scala/io/joern/csharpsrc2cpg/datastructures/CSharpProgramSummary.scala
  joern-cli/frontends/rubysrc2cpg/.gitignore
  joern-cli/frontends/rubysrc2cpg/build.sbt
  joern-cli/frontends/rubysrc2cpg/src/main/resources/application.conf
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/Main.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/RubySrc2Cpg.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/datastructures/RubyProgramSummary.scala
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/datastructures/RubyScope.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/ImportTests.scala
  joern-cli/frontends/x2cpg/src/main/scala/io/joern/x2cpg/typestub/TypeStubConfig.scala
  joern-cli/frontends/x2cpg/src/main/scala/io/joern/x2cpg/typestub/TypeStubUtil.scala
Labels: ruby
