Repository joernio/joern, pull requests merged in 2025-03, with the labels that each got.

#5337 [ruby] Use `THREADSAFE` Configuration for Script Container
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/parser/RubyAstGenRunner.scala
Labels: ruby

#5340 [ruby] Ruby `match` to use `DynamicCallUnknownFullName`
  joern-cli/frontends/rubysrc2cpg/src/main/scala/io/joern/rubysrc2cpg/astcreation/AstForExpressionsCreator.scala
  joern-cli/frontends/rubysrc2cpg/src/test/scala/io/joern/rubysrc2cpg/querying/RegexTests.scala
Labels: ruby

#5347 ghidra: latest release which includes mac_x86_64 binaries
  project/Versions.scala
Labels: binary

#5362 Joern Project Linting: Checking Restricted Imports
  .github/workflows/pr.yml
  build.sbt
  console/build.sbt
  console/src/main/scala/io/joern/console/cpgcreation/JavaCpgGenerator.scala
  dataflowengineoss/build.sbt
  joern-cli/build.sbt
  joern-cli/frontends/c2cpg/build.sbt
  joern-cli/frontends/csharpsrc2cpg/build.sbt
  joern-cli/frontends/ghidra2cpg/build.sbt
  joern-cli/frontends/gosrc2cpg/build.sbt
  joern-cli/frontends/javasrc2cpg/build.sbt
  joern-cli/frontends/jimple2cpg/build.sbt
  joern-cli/frontends/jssrc2cpg/build.sbt
  joern-cli/frontends/kotlin2cpg/build.sbt
  joern-cli/frontends/php2cpg/build.sbt
  joern-cli/frontends/pysrc2cpg/build.sbt
  joern-cli/frontends/rubysrc2cpg/build.sbt
  joern-cli/frontends/swiftsrc2cpg/build.sbt
  joern-cli/frontends/x2cpg/build.sbt
  linter-rules/build.sbt
  linter-rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  linter-rules/src/main/scala/fix/RestrictedImports.scala
  macros/build.sbt
  project/Projects.scala
  project/build.properties
  project/plugins.sbt
  querydb/build.sbt
  semanticcpg/build.sbt
Labels: infrastructure, consistency
